<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Token" value="99b56c2954c5ed6d7517c5312ef4ab59" />
    <add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/weather?q=" />
    <add key="Units" value="metric" />
    <add key="OneCallApiUrl" value="http://api.openweathermap.org/data/2.5/onecall/timemachine?" />
  </appSettings>
</configuration>